.main-container{
    background-size: cover;
    background-repeat: no-repeat;
    clip-path: polygon(0% 0%, 250% 0%, 0% 100%);
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1; 
}

.container {
    padding: 1% 20%;
}

.search-bar{
    padding: 10px 12px;
    width: 50%;
    border-radius: 5px;
    border: 1px solid transparent;
    margin: 1% 0 7% 0;
    outline: none;
}

.images{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    height: 500px;
    overflow: auto;
}

.images > div{
    margin: 8px 0;
    width: 250px;
    height: 150px;
    position: relative;
    z-index: 3;
    cursor: pointer;
}

.images > div .thumb {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}

.profile-container{
    display: flex;
    position: absolute;
    z-index: 2;
    bottom: 10px;
    left: 10px;
    align-items: center;
}

.profile-container .profile{
    height: 30px;
    width: 30px;
    border-radius: 15px;
}

.profile-text{
    margin-left: 10px;
    font-size: 12px;
    color: #ffff;
}

.profile-text span{
    color: #00cead;
}

.btn-wrapper{
    margin: 20px 0;
}

.btn-load{
    background-color: #00bfb8;
    border-radius: 15px;
    padding: 10px 25px;
    color: #fff;
    cursor: pointer;
}


