.container .header span, .footer-header span{
    color: #00bfb8;
}

.search-tag-header {
    float: left;
    margin: 0 10px 0 0;
}

.search-tag-container {
    display: flex;
    align-items: center;
}

.search-tag-container > ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.search-tag-container > ul > li {
    display: inline;
    font-size: 12px;
    margin: 0 10px 0 10px;
    color: #cea118;
    cursor: pointer;
}