.modal-true{
    display: flex;
}

.modal-false{
    display: none;
}

.modal {
    position: fixed;
    z-index: 3;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);  
    align-items: center;
    justify-content: center;
    padding: 1% 0;
  }
  
  /* Modal Content */
  .modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 3% 3% 1% 3%;
    border: 1px solid #888;
    width: 60%;
    border-radius: 10px;
    position: relative;
  }

  .modal .img-large{
      width: 100%;
  }

  .modal-profile{
      display: flex;
      margin-bottom: 3%;
  }

  .modal-profile img{
    height: 40px;
    width: 40px;
    border-radius: 20px;
  }

  .modal-profile-text{
    margin-left: 1%;
  }

  .modal-profile-text div:first-of-type{
    font-weight: 600;
  }

  .modal-profile-text div:last-of-type{
    font-size: 14px;
    font-weight: 100;
  }

  .close {
    height: 30px;
    width: 30px;
    border-radius: 17px;
    background: #5d82a5;
    color: #ffff;
    text-align: center;
    font-size: 30px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    position: absolute;
    right: -16px;
    top: -14px;
    padding: 2px;
    cursor: pointer;
  }