.footer {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    background-color: #191c24;
    padding: 3% 20%; 
}

.footer-header{
    position: absolute;
    top: 40%;
    left: 20%;
}

.popular-search-container{
    min-width:50%;
}

.popular-search-container h4{
    text-align: left;
}

.popular-search-container ul{
    display: flex;
    flex-flow: wrap column;
    max-height: 150px;
    list-style-type: none;
    margin: 0;
    padding: 0;
    align-items: flex-start;
}

.popular-search-container ul li{
    color: #cea118;
    padding: 2px 0;
    font-size: 13px;
    cursor: pointer;
}